[submodule "vendor/node-websocket-server"]
	path = vendor/node-websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "vendor/node_redis"]
	path = vendor/node_redis
	url = git://github.com/mranney/node_redis.git
[submodule "vendor/node-static"]
	path = vendor/node-static
	url = http://github.com/cloudhead/node-static.git
[submodule "vendor/mu"]
	path = vendor/mu
	url = git://github.com/raycmorgan/Mu.git
